<div id="about" class="main">
  <%= render "page_title", page_title: "from Kとは" %>
  <div class="container">
    <div class="mission">
      <%= image_tag "circle.png" %>
      <div class="text">
        <h2 class="mincho">就活の輪をつくり、
        <br>将来の選択肢を提供して視野を広げる</h2>
        <p>就活について気軽に様々な先輩に相談できる。仲間と一緒に情報交換・切磋琢磨し合いながら就活を頑張れる。そんな、就活をもとにしたつながり=「就活の輪」を広げていきたい。
        <br>この「就活の輪」をfrom Kが要となってつくっていきます。
        </p>
      </div>
    </div>
    <div class="vision clearfix">
      <%= image_tag "doors.png" %>
      <div class="text">
        <h2 class="mincho">納得できるキャリアを</h2>
        <p>なんとなく公務員。なんとなく民間企業。
        <br>将来を大きく左右する大事なキャリアの第一歩を「なんとなく」で決めていいわけがない。たくさんある将来の選択肢の中から、納得感をもって「これだ！」という自分の将来を見つけてほしい。
        <br>そのために、from Kは、多様な将来の選択肢を知る機会を提供し、学生の視野を広げます。
        </p>
      </div>
    </div>
  </div>

  <%= render "contact_area" %>
</div>
