<div id="event">
  <%= render "page_title", page_title: "活動実績" %>
  <div class="container">
    <div class="event_info">
      <p class="date">2020.01.24</p>
      <h2 class="event_title">東京就活考えている人が集まる会、大手企業志望者が集まる会</h2>
      <div class="tag tag_event">
        イベント
      </div>
    </div>

    <div class="event_content">
      <div class="event_image">
        <%= image_tag "event3.png" %>
      </div>
      <div class="event_content">
        <p>就活生どうしのつながりを強化するため、就活における嗜好が共通している学生どうしの交流会を開催しました。
        <br>このイベントをきっかけに、就活仲間ができ、切磋琢磨し合いながら就活が出来たという学生の声もあがっています。
        </p>
      </div>
    </div>
  </div>
  <%= render "contact_area" %>
</div>
