<div id="event">
  <%= render "page_title", page_title: "活動実績" %>
  <div class="container">
    <div class="event_info">
      <p class="date">2019.07.20</p>
      <h2 class="event_title">人気企業若手社員とのプレミアム交流会</h2>
      <div class="tag tag_event">
        イベント
      </div>
    </div>

    <div class="event_content">
      <div class="event_image">
        <%= image_tag "event1.png" %>
      </div>
      <div class="event_content">
        <p>人気企業の若手社員さんをお呼びして、1テーブルに社員さん1名、学生8~10名という、社員さんと学生との距離がとても近い座談会を開催しました。
        <br>参加していただいた社員さんも学生も私服参加で、お菓子を食べながらのフランクな交流会でした。
        <br>参加学生の学年は3年生や院1年生といった就活生はもちろん、意欲の高い1年生~2年生も参加していました。
        <br>社員の皆さまには、企業の説明やインターンシップの宣伝、ご自身の就活やお仕事の体験談など自由に話していただきました。開催時期も7月下旬で、比較的就活に対する意欲の高い学生が参加し、盛り上がっていました。
        </p>
      </div>
    </div>
  </div>
  <%= render "contact_area" %>
</div>
