<div id="event" class="main">
  <%= render "page_title", page_title: "活動実績" %>
  <div class="container">
    <div class="event_info">
      <p class="date">2019.12.14</p>
      <h2 class="event_title">内定者交流会</h2>
      <div class="tag tag_event">
        イベント
      </div>
    </div>

    <div class="event_content">
      <div class="event_image">
        <%= image_tag "event2.png" %>
      </div>
      <div class="event_content">
        <p>就活を終えたばかりの金沢大学の20卒の先輩と、これから就活を本格的に行う21卒の学生との交流会を開催しました。
        <br>from Kの団体理念にある「就活の輪をつくり」を体現したイベントです。
        <br>サークルや学部、研究室という垣根を超えて、就活生が気軽に様々な先輩に相談できる機会を提供しました。
        </p>
      </div>
    </div>
  </div>
  <%= render "contact_area" %>
</div>
