<div id="event">
  <%= render "page_title", page_title: "活動実績" %>
  <div class="container">
    <div class="event_info">
      <p class="date">2020.07.01</p>
      <h2 class="event_title">就活なんでも相談会</h2>
      <div class="tag tag_event">
        イベント
      </div>
    </div>

    <div class="event_content">
      <div class="event_image">
        <%= image_tag "event4.png" %>
      </div>
      <div class="event_content">
        <p>就活を始めたばかりで不安や悩みをもつ22卒の就活生向けに、コロナ禍の就活を経験した21卒の先輩4名を呼び、相談会をオンラインで開催しました。from K初のオンライン開催のイベントでしたが、スムーズに実施でき、参加学生の満足度も非常に高いものでした。
        </p>
      </div>
    </div>
  </div>
  <%= render "contact_area" %>
</div>
