// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// top
#home {
  .top_view {
    height: 650px;
    margin-bottom: 150px;
    background-image: image-url("bg_top.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
      padding-top: 200px;
      font-size: 46px;
      font-weight: bold;
      color: #fff;
      text-align: center;
      line-height: 78px;
    }
  }

  .section_title {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: normal;

    span {
      padding-left: 20px;
      font-size: 24px;
      color: $blue;
      vertical-align: baseline;
    }
  }

  .events {
    margin-bottom: 170px;

    .event_list {
      margin-bottom: 70px;

      li {
        .event_image {
          margin-bottom: 14px;

          img {
            width: 100%;
          }
        }

        .flex {
          margin-bottom: 20px;
          justify-content: space-between;
          align-items: center;
        }

        .event_title {
          font-size: 22px;

          a {
            color: #000;
          }
        }
        .tag {
          padding: 5px 15px;
          font-size: 14px;
          font-weight: 300;
        }

        .tag_event {
          color : #F70000;
          border: 1px solid #F70000;
        }

        .tag_news {
          color: #707070;
          border: 1px solid #707070;
        }

        .date {
          font-size: 16px;
        }
      }
    }
  }

  .about {
    margin-bottom: 170px;

    .about_content {
      height: 520px;
      background-image: image-url("bg_about.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      .container {
        p {
          padding-top: 180px;
          margin-bottom: 70px;
          float: right;
          font-size: 30px;
          line-height: 50px;
          text-shadow:1px 1px 8px #fff;
        }
        .btn_more {
          margin-right: 20px;
          float: right;
        }
      }
    }
  }

  .activity {
    margin-bottom: 170px;

    .activity_list li {
      display: flex;
      justify-content: space-between;
      min-height: 300px;
      margin-bottom: 12px;

      &:nth-of-type(2) {
        .left {
          order: 2;

          .activity_img {
            float: left;
          }
        }
        .right {
          order: 1;
        }
      }
      .left {
        width: 33%;
        background-color: #C9E9FF;

        .activity_img {
          width: 100%;
          max-width: 410px;
          float: right;

          img {
            width: 100%;
          }
        }
      }
      .right {
        width: 66%;
        padding: 50px 60px 0;
        background-color: $blue;
        color: #fff;

        .activity_name {
          padding: 0 14px;
          margin-bottom: 46px;
          font-size: 32px;
          border-left: 2px solid #F70000;
        }
        p {
          margin-bottom: 24px;
          font-size: 20px;
          font-weight: 300;
          line-height: 36px;
        }
        .btn_more {
          width: 230px;
          height: 40px;
          padding: 6px 0;
          font-size: 16px;
          color: #fff;
          border-radius: 20px;
          border-color: #fff;

          &:hover {
            color: $blue;
            background-color: #fff;
          }
        }
      }
    }
  }
}

// about
#about {
  .page_title {
    background-image: image-url("page_title_about.png");
  }
  .text {
    width: 660px;
    padding: 46px 50px;
    position: relative;
    background-color: #fff;
    border: 1px solid #EFEFEF;
    z-index: 1;

    h2 {
      margin-bottom: 50px;
      font-size: 30px;
      font-weight: bold;
      line-height: 50px;
    }
    p {
      font-size: 20px;
      line-height: 34px;
    }
  }
  .mission {
    margin-bottom: 350px;
    position: relative;

    img {
      width: 650px;
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 0;
    }
  }
  .vision {
    margin-bottom: 400px;
    position: relative;

    .text {
      float: right;
    }
    img {
      width: 830px;
      position: absolute;
      top: 150px;
      left: 0;
      z-index: 0;
    }
  }
}

// activity
#activity {
  .page_title {
    background-image: image-url("page_title_activity.png");
  }
  .activity_list {
    margin-bottom: 180px;

    li {
      display: flex;
      margin-bottom: 120px;

      &:nth-of-type(2) {
        .left {
          order: 2;
        }
      }
      .left {
        width: 400px;
        position: relative;

        .square {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 25px;
          left: 25px;
          background-color: #C9E9FF;
          z-index: -1;
        }
        img {
          width: 100%;
        }
      }
      .right {
        padding: 20px 60px;
        flex: 1;

        .activity_number {
          margin-bottom: 10px;
          font-size: 22px;
        }
        h2 {
          margin-bottom: 30px;
          font-size: 32px;
          color: $blue;
        }
        p {
          font-size: 20px;
          line-height: 34px;
        }
      }
    }
  }
}

// events
#events {
  .page_title {
    background-image: image-url("page_title_events.png");
  }
  .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border: none;
  }
  .nav-tabs {
    justify-content: center;
    margin-bottom: 70px;
    border: none;

    .nav-item {
      margin: 0 20px;
    }
    .nav-link {
      position: relative;
      font-size: 22px;
      font-weight: 300;
      color: #000;
      border-bottom: 1px solid #E5E5E5;
    }
    .nav-link.active {
      color: $blue;
      border-bottom: 1px solid $blue;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: $blue transparent transparent transparent;
        border-width: 10px 10px 0 10px;
      }
    }
  }
  .event_list {
    margin-bottom: 70px;

    li {
      margin-bottom: 100px;

      .event_image {
        margin-bottom: 14px;

        img {
          width: 100%;
        }
      }

      .flex {
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
      }

      .event_title {
        font-size: 22px;

        a {
          color: #000;
        }
      }
      .tag {
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 300;
      }

      .tag_event {
        color : #F70000;
        border: 1px solid #F70000;
      }
      .tag_news {
        color: #707070;
        border: 1px solid #707070;
      }

      .date {
        font-size: 16px;
      }
    }
  }
}


// event
#event {
  .page_title {
    background-image: image-url("page_title_events.png");
  }
  .event_info {
    margin-bottom: 80px;
    text-align: center;

    .date {
      margin-bottom: 20px;
      font-size: 16px;
    }
    .event_title {
      margin-bottom: 20px;
      font-size: 46px;
      font-weight: normal;
    }
    .tag {
      width: 90px;
      padding: 7px 15px;
      margin: 0 auto;
      font-size: 14px;
    }
    .tag_event {
      color : #F70000;
      border: 1px solid #F70000;
    }

    .tag_news {
      color: #707070;
      border: 1px solid #707070;
    }
  }
  .event_content {
    margin-bottom: 300px;

    .event_image {
      margin-bottom: 110px;

      img {
        width: 100%;
      }
    }
    .event_content p {
      font-size: 22px;
      line-height: 36px;
    }
  }
}


// レスポンシブ
@media screen and (max-width: 959px) {
  #home {
    .section_title {
      font-size: 24px;

      span {
        font-size: 14px;
      }
    }
    .btn_more {
      width: 160px;
      height: 40px;
      padding: 8px 0;
      margin: 0 auto;
      font-size: 14px;

      span {
        top: 52%;
        right: 20px;
      }
    }
    .top_view {
      height: 450px;
      margin-bottom: 60px;

      h1 {
        padding-top: 160px;
        font-size: 24px;
        line-height: 36px;
      }
    }
    .events {
      margin-bottom: 60px;

      .event_list {
        margin-bottom: 0;

        li {
          margin-bottom: 40px;

          .tag {
            padding: 3px 15px;
            font-size: 11px;
          }
          .date {
            font-size: 14px;
          }
          .event_title {
            font-size: 14px;
          }
        }
      }
    }
    .about {
      margin-bottom: 60px;

      .about_content {
        height: auto;
        background-image: none;

        img {
          width: 100%;
        }
        .container {
          p {
            padding-top: 30px;
            margin-bottom: 20px;
            font-size: 22px;
          }
          .btn_more {
            margin: 0;
          }
        }
      }
    }
    .activity {
      margin-bottom: 60px;

      .activity_list {
        background-color: $blue;

        li {
          flex-direction: column;

          &:nth-of-type(2) {
            .left {
              order: 1;
            }
            .right {
              order: 2;
            }
          }
          .left {
            width: 100%;
            padding: 20px 30px 0;
            background-color: $blue;

            .activity_img {
              max-width: initial;
              float: none;
            }
          }
          .right {
            width: 100%;
            padding: 20px 30px;

            .activity_name {
              margin-bottom: 20px;
              font-size: 24px;
              border-left: 1px solid #F70000;
            }
            p {
              font-size: 16px;
              line-height: 26px;
            }
            .btn_more {
              margin: 0;
            }
          }
        }
      }
    }
  }

  #about {
    .text {
      width: 100%;
      padding: 30px 20px 20px;

      h2 {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 30px;
      }
      p {
        font-size: 12px;
        font-weight: 300;
        line-height: 22px;
      }
    }
    .mission {
      width: 100%;
      margin-bottom: 50px;

      img {
        width: 100%;
        position: initial;
      }
    }
    .vision {
      width: 100%;
      margin-bottom: 50px;

      img {
        width: 100%;
        position: initial;
      }
    }
  }

  #activity {
    .activity_list {
      margin-bottom: 80px;

      li {
        flex-direction: column;
        margin-bottom: 40px;

        &:nth-of-type(2) {
          .left {
            order: 1;
          }
          .right {
            order: 2;
          }
        }

        .left {
          width: 100%;

          .square {
            display: none;
          }
        }
        .right {
          width: 100%;
          padding: 20px 0;

          .activity_number {
            font-size: 10px;
          }
          h2 {
            font-size: 20px;
            font-weight: 400;
          }
          p {
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }

  #events {
    .nav-tabs {
      margin-bottom: 50px;

      .nav-item {
        margin: 0 10px;
      }
      .nav-link {
        padding-bottom: 2px;
        font-size: 14px;
      }
      .nav-link.active {
        border-bottom: 1px solid $blue;
      }
    }
    .event_list {
      margin-bottom: 80px;

      li {
        margin-bottom: 40px;

        .tag {
          padding: 3px 15px;
          font-size: 11px;
        }
        .date {
          font-size: 14px;
        }
        .event_title {
          font-size: 14px;
        }
      }
    }
  }

  #event {
    .event_info {
      margin-bottom: 50px;

      .date {
        margin-bottom: 10px;
        font-size: 14px;
      }
      .event_title {
        margin-bottom: 10px;
        font-size: 22px;
      }
      .tag {
        padding: 2px 10px;
        font-size: 11px;
      }
    }
    .event_content {
      margin-bottom: 80px;

      .event_image {
        margin-bottom: 20px;
      }
      .event_content p {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }


}
