<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたはメールアドレスを次の通りに変更しようとしています。
  <br><%= @resource.unconfirmed_email %></p>
<% else %>
  <p>あなたのメールアドレスは次の通りに変更されました。
  <br><%= @resource.email %></p>
<% end %>
