<p>パスワードの再設定の申請がありました。下記のリンクからパスワードを再設定してください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合は無視してください。</p>
<p>パスワードは上記のリンクにアクセスして新しいパスワードが発行されるまで変更されません。</p>
